.App {
  /* text-align: center; */
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
    width: 50%;
    height: 50%;
    float: right;
}
.App-logo-span{
  float: right;
  width : 50%
  /* padding: 10px;s */
}

.App-header {
  background-color: #fff;
  height: 120px;
  padding: 20px;
  color: #004d99;  
}
.App-body{
   padding: 40px 10px 10px 10px; 
}

.line {
    content: " ";
    display: block;
    border-bottom: 10px solid #004d99;
  }

.App-title {
   font-size: 2.5em; 
   position: relative;
   float: left;
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.btnapp {
  width: 15%;
}

.comp1{
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: auto auto ;
  padding: 10px;
}
.grid-item{
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  /* font-size: 30px; */
  /* text-align: left; */
}
.comp2{
  /* background-color: #e6e6e6; */
  display: grid;
  grid-template-columns: auto auto ;
  padding: 10px;
}

.Input {
    width: 60%;
    float: right;
}
  .FormGrp {
    margin-bottom: 10px;
  }

.lineGrey {
    content: " ";
    display: block;
    border-bottom: 20px solid #e6e6e6;
  }
.Astric{
  color: red;
}
.comp3{
   text-align: right; 
  width:70%;
}
.comp3 input { width:60% }
table {
    /* font-family: arial, sans-serif; */
     border-collapse: collapse; 
    /* position: relative; */
    table-layout: fixed;
    width: 100%;
    
}
  .tablecontainer{
    padding-bottom: 20px;
  }

td, th {
    border-bottom: 3px solid #dddddd;
    /* text-align: center; */
    padding: 3px; 
    /* font-size: 10px; */
}

th{
  background-color: #e6e6e6;
}

.tableText{
  /* max-width: 35px; */
  width: 100%
}
tr:nth-child(even) {
    /* background-color: #dddddd; */
}
.comp4{
     padding: 5px; 
    border-bottom: 3px solid #dddddd;
    border-top: 3px solid #dddddd;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
     width: 80px; 
    cursor: pointer;
    transform: rotate(-45deg);
    vertical-align: middle;
}
  .image-upload span{
    vertical-align: middle;
  }

.attImgContainer {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(-45deg);
}

.attLableContainer {
     display: inline-block;
     vertical-align: middle;
}

.attContainer {
    border: 1px solid #dddddd;
    padding: 10px 5px 10px 5px;
}
  .image-upload{
    border: 1px solid #dddddd;
    padding: 10px 5px 10px 5px;
  }